<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I'm a passionate game developer with good foundation of C# and C++ programming languages. I have a strong interest in game programming, algorithms and software architecture. 
          I'm a quick learner and I'm always looking to improve my skills. <br>
        My dream and passion is to create new worlds and universes with the power of programming languages.</p>
      </div>
      <div class="col-lg-4">
        <p>Here you can find some of my projects and games that I have developed during my studies and work experience.
          Check out my Itch.io and Github to see more projects and games.
        </p>
      </div>
    </div>
  </div>
</section>
